<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<p>
  <strong>Shop Name:</strong>
  <%= @user.shop.name %>
</p>

<%= link_to 'Edit', edit_user_shop_path(@user) %> |
<%= link_to 'Destroy', user_shop_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_path(@user) %>
