<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, @genders, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.fields_for :address, @address do |f| %>
        <%= f.text_field :country, placeholder: 'Country' %>
        <%= f.text_field :address_1, placeholder: 'Address 1' %>
        <%= f.text_field :address_2, placeholder: 'Address 2' %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
