<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender.capitalize %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.full_address %>
</p>

<p>
  <strong>Shop:</strong>
    <% if @user.shop.present? %>
      <%= link_to 'more', user_shop_path(@user) %>
    <% else %>
      <%= link_to  'Create Shop', new_user_shop_path(@user) %>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
